* {
    margin: 0;
    padding: 0;
}
.divImg {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 25px;
}
.image {
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
.image:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal_img{
    width: 650px;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden;
    z-index: 1;
;
    
}
.divModal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modalClose{
    color:white;
    background-color: black;
    position: absolute;
    top: 50px;
    right: 140px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px white;
}
.modalClose:hover{
    background-color: red;
    cursor: pointer;
}
.modalClose:active{
    background-color: grey;
}
.modal_active{
    visibility: visible;
}