@media(max-width: 900px){
    header p{
        margin-left: 50%;
        transform: translate(-50%);
    }

    .page-home input{
        width: 275px;
    }

    .page-home .title span{
        left: 81%;
    }

    .items-grid {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .items-grid li{
        margin-left: 0;
        width: 325px;
    }
}

